.header {
  /* position: fixed; */
  top: 0;
  background-color: navy;
  width: 100%;
  text-align: center;
  z-index: 2; /* Use a higher z-index than the other elements on the page */
}

.links a {
  text-decoration: none;
  color: beige;
}

.links > .cart {
  position: fixed;
  right: .3rem;}
